<h1 class="h1">Select your fee structure by 9 June</h1>

The European Commission is making changes to card processing practices in order to create a common market across the EU and European Economic Area (EEA) states. One requirement of the new Interchange Fee Regulation (IFR) is that PayPal and other payment providers must offer an unblended fee structure. This is why we are introducing Interchange Plus for receiving credit and debit card payments.
<br/>
<br/>
For your business this means making a choice about your <span class="edit">PayPal Payments Pro account/PayPal Here account/Virtual Terminal and PayPal business account/business and PayPal Here accounts/PayPal Payments Pro and PayPal Here accounts</span>.
<br/>
<br/>
You can switch to new Interchange Plus fee structure or you can choose to remain on your current blended fee structure. <strong>If we don&rsquo;t hear from you then you will be switched to Interchange Plus on 9 June.</strong> Log in and select your preferred fee structure.
<br/><br/>
<a href="#" style="margin:0;text-decoration:none;display:inline-block;">
    <img src="img/button-login.jpg" alt="Login" />
</a>
<br/>
<br/>
<h2 class="h2">Merchant fee structures</h2>

With Interchange Plus your fee structure will include three components - interchange fees (<span class="edit">set by MasterCard and Visa/MasterCard, Visa and Carte Bancaire</span>), a set percentage, plus a fixed fee on each transaction. Interchange Plus rates apply only to transactions in which your customer has paid you directly with a debit or credit card<sup style="line-height:1; vertical-align:baseline;_vertical-align: bottom;position: relative;bottom: 1ex;font-size:11px !important;">1</sup>. Interchange fees may vary depending on the country of issuance, category and type of card used to make the payment<sup style="line-height:1; vertical-align:baseline;_vertical-align: bottom;position: relative;bottom: 1ex;font-size:11px !important;">2</sup>. You usually receive the money in your PayPal account the next business day after the payment has been made. The Interchange Plus fee structure may be preferred if:
<br/>
<br/>
<table>
    <tr>
        <td valign="top">
            &nbsp;&nbsp;&nbsp;&nbsp;<span style="color:#009cde;">&bull;</span>&nbsp;
        </td>
        <td valign="top" style="color:#676767; font-family:'Calibri Regular', 'Calibri', Arial; font-size:18px; line-height:130%; text-align:left;">
            The vast majority of your sales are from consumer card types in <span class="edit">the UK/France/Italy/Spain</span> or within the EEA for which interchange fees are capped
        </td>
    </tr>
    <tr>
        <td valign="top">
            &nbsp;&nbsp;&nbsp;&nbsp;<span style="color:#009cde;">&bull;</span>&nbsp;
        </td>
        <td valign="top" style="color:#676767; font-family:'Calibri Regular', 'Calibri', Arial; font-size:18px; line-height:130%; text-align:left;">
            Delay of one to two business days to the availability of your credit and debit card funds is acceptable
        </td>
    </tr>
    <tr>
        <td valign="top">
            &nbsp;&nbsp;&nbsp;&nbsp;<span style="color:#009cde;">&bull;</span>&nbsp;
        </td>
        <td valign="top" style="color:#676767; font-family:'Calibri Regular', 'Calibri', Arial; font-size:18px; line-height:130%; text-align:left;">
            Differing settlement times between card sales and PayPal sales do not impact reconciliation
        </td>
    </tr>
</table>
<br/>
The Blended fee structure includes two components – a set percentage plus a fixed fee on each transaction. You pay the same rate regardless of the card type of the transaction, with PayPal absorbing any fluctuations in the actual transactional costs<sup style="line-height:1; vertical-align:baseline;_vertical-align: bottom;position: relative;bottom: 1ex;font-size:11px !important;">3</sup>. You receive the money in your PayPal account as soon as your customer makes the purchase, and that money is usually available immediately for withdrawal. The Blended fee structure may be preferred if:
<br/>
<br/>
<table>
    <tr>
        <td valign="top">
            &nbsp;&nbsp;&nbsp;&nbsp;<span style="color:#009cde;">&bull;</span>&nbsp;
        </td>
        <td valign="top" style="color:#676767; font-family:'Calibri Regular', 'Calibri', Arial; font-size:18px; line-height:130%; text-align:left;">
            Immediate availability of funds on all your transactions is important
    </tr>
    <tr>
        <td valign="top">
            &nbsp;&nbsp;&nbsp;&nbsp;<span style="color:#009cde;">&bull;</span>&nbsp;
        </td>
        <td valign="top" style="color:#676767; font-family:'Calibri Regular', 'Calibri', Arial; font-size:18px; line-height:130%; text-align:left;">
            Predictable transaction costs are essential for planning
        </td>
    </tr>
    <tr>
        <td valign="top">
            &nbsp;&nbsp;&nbsp;&nbsp;<span style="color:#009cde;">&bull;</span>&nbsp;
        </td>
        <td valign="top" style="color:#676767; font-family:'Calibri Regular', 'Calibri', Arial; font-size:18px; line-height:130%; text-align:left;">
            Quick and simple reconciliation of PayPal and card sales is favoured
        </td>
    </tr>
</table>
