<!-- // Begin Footer \\ -->
<table border="0" cellpadding="10" cellspacing="0" width="100%">
    <tr>
        <td valign="top" id="small-print">
            <div>
                <sup style="line-height:1; vertical-align:baseline;_vertical-align: bottom;position: relative;bottom: 1ex;font-size:11px !important;">1</sup> This payment could either be <a href="#" target="_blank" style="color:#666666;text-decoration:none;">in person through PayPal Here</a>, on your website or through PayPal Virtual Terminal.
                <br/>
                <br/>
                <sup style="line-height:1; vertical-align:baseline;_vertical-align: bottom;position: relative;bottom: 1ex;font-size:11px !important;">2</sup> For example, you might be charged an interchange fee + 2.9% + 20p. PayPal does not know what the interchange fee is at the time of the transaction, and only receives interchange fee information from processors.
                <br/>
                <br/>
                <sup style="line-height:1; vertical-align:baseline;_vertical-align: bottom;position: relative;bottom: 1ex;font-size:11px !important;">3</sup> For example, you might be charged 3.4% + 20p for all transactions <a href="#" target="_blank" style="color:#666666;text-decoration:none;">, or e.g. a 2.75% flat rate for PayPal Here</a>.
            </div>
        </td>
    </tr>
    <tr>
        <td colspan="2" valign="middle" id="terms">
            <div>
                &nbsp;<a href="#" target="_blank"  style="font-family: 'Helvetica Neue Regular', 'Helvetica Neue', Helvetica, Arial; color: #666666; text-align: left; text-decoration:none;"><strong>Terms and conditions</strong></a>&nbsp;&nbsp;&nbsp;<a href="#" target="_blank"  style="font-family: 'Helvetica Neue Regular', 'Helvetica Neue', Helvetica, Arial; color: #666666; text-align: left; text-decoration:none;"><strong>Privacy policy</strong></a>&nbsp;&nbsp;&nbsp;<a href="#" target="_blank"  style="font-family: 'Helvetica Neue Regular', 'Helvetica Neue', Helvetica, Arial; color: #666666; text-align: left; text-decoration:none;"><strong>Unsubscribe</strong></a>&nbsp;
                <br/>
                <hr/>
                <div id="utility">
                    If you need to reach us, go to <a href="#" target="_blank">help</a> on any page of the PayPal website.
                </div>
            </div>
        </td>
    </tr>
</table>
<!-- // End Footer \\ -->