<!-- // Begin Footer \\ -->
<table border="0" cellpadding="10" cellspacing="0" width="100%">
	<tr>
		<td valign="top" id="small-print">
			<div>
				<sup style="line-height:1; vertical-align:baseline;_vertical-align: bottom;position: relative;bottom: 1ex;font-size:11px !important;">1</sup> Par exemple, vous pouvez &ecirc;tre d&eacute;bit&eacute; de 3,4 % + 20 p sur toutes les transactions.
				<br/>
				<br/>
				<sup style="line-height:1; vertical-align:baseline;_vertical-align: bottom;position: relative;bottom: 1ex;font-size:11px !important;">2</sup> Ce paiement peut &ecirc;tre effectu&eacute; sur votre site ou via PayPal e-Terminal.
				<br/>
				<br/>
				<sup style="line-height:1; vertical-align:baseline;_vertical-align: bottom;position: relative;bottom: 1ex;font-size:11px !important;">3</sup> Par exemple, vous pouvez &ecirc;tre d&eacute;bit&eacute; d'une commission d'interchange de 2,9 % + 20 p. Nous ne connaissons pas la commission d'interchange au moment de la transaction. Elle nous est uniquement communiqu&eacute;e par la soci&eacute;t&eacute; de traitement.
			</div>
		</td>
	</tr>
	<tr>
		<td colspan="2" valign="middle" id="terms">
			<div>
				&nbsp;<a href="#" target="_blank" style="font-family: 'Helvetica Neue Regular', 'Helvetica Neue', Helvetica, Arial; color: #666666; text-align: left; text-decoration:none;"><strong>Terms and conditions</strong></a>&nbsp;&nbsp;&nbsp;<a href="#" target="_blank" style="font-family: 'Helvetica Neue Regular', 'Helvetica Neue', Helvetica, Arial; color: #666666; text-align: left; text-decoration:none;"><strong>Privacy policy</strong></a>&nbsp;&nbsp;&nbsp;<a href="#" target="_blank" style="font-family: 'Helvetica Neue Regular', 'Helvetica Neue', Helvetica, Arial; color: #666666; text-align: left; text-decoration:none;"><strong>Unsubscribe</strong></a>&nbsp;
				<br/>
				<hr/>
				<div id="utility">
					If you need to reach us, go to <a href="#" target="_blank" style="font-family: 'Helvetica Neue Regular', 'Helvetica Neue', Helvetica, Arial; color: #666666; text-align: left;">help</a> on any page of the PayPal website.
				</div>
			</div>
		</td>
	</tr>
</table>
<!-- // End Footer \\ -->