<span class="h2">How to switch back</span>

You have a limited window of opportunity to switch back if you do not want Interchange Plus pricing. Simply <a href="#"><strong>log in to |*SERVICE MODULE LINK*|</strong></a> and select Blended pricing; it will only take a moment.
<br/>
<br/>
Please let us know by |*DATE*| if you want to return to Blended pricing.
<br/>
<br/>
Kind regards,
<br/>
<br/>
<a href="#" target="_blank">The PayPal team</a>
<br/>
<br/>
P.S. We also have some frequently asked questions that may help as you make your decision