<table border="0" cellpadding="0" cellspacing="20" width="600" id="bodyFooter">
    <tr>
        <td align="left">
            <div>
                <h2 class="h2">Making your choice</h2>

                We&rsquo;ve tried to make it as easy as possible for you to inform us. Simply <a href="#" style="color: #009cde; text-decoration: none;">log in</a>&nbsp;and select your preferred fee structure; it will only take a moment.
                <br/>
                <br/>
                The new fee structures come into effect on 9 June 2016. <strong>If we don&rsquo;t hear from you then you will be switched to Interchange Plus</strong> so please confirm your choice in good time.
                <br/>
                <br/>
                Kind regards,
                <br/>
                <br/>
                <a href="#" target="_blank">The PayPal team</a>
                <br/>
                <br/>
                P.S. We also have some <a href="#" target="_blank" style="color: #009cde; text-decoration: none;">frequently asked questions</a> that may help as you make your decision
                <br/>
                <br/>
            </div>
        </td>
    </tr>   
</table>
