<table border="0" cellpadding="0" cellspacing="20" width="600" id="bodyFooter">
    <tr>
        <td align="left">
            <div>
                <h2 class="h2">Faites votre choix</h2>

                <a href="#" style="color: #009cde; text-decoration: none;">Connectez-vous &agrave; votre compte</a> et s&eacute;lectionnez votre structure tarifaire pr&eacute;f&eacute;r&eacute;e. Cela ne vous prendra que quelques instants, il vous suffit de cliquer sur la notification relative &agrave; ce sujet, en haut &agrave; droite de la page et de suivre les instructions.
                <br/>
                <br/>
                Merci de noter que  si vous d&eacute;cidez de changer de structure tarifaire, votre choix sera appliqu&eacute; &agrave; compter du 9 juin 2016.
                <br/>
                <br/>
                Cordialement,
                <br/>
                <br/>
                <a href="#" target="_blank">PayPal</a>
                <br/>
                <br/>
                P.S. Vous trouverez des <a href="#" target="_blank" style="color: #009cde; text-decoration: none;">questions/r&eacute;ponses</a> pour vous aider &agrave; faire votre choix.
                <br/>
                <br/>
            </div>
        </td>
    </tr>   
</table>
