/**
 * Accordion
 *
 *
 */

.accordion {

  @media screen and (min-width: $scrDeskS) {}
}

.accordion-items {
  position: relative;
  text-align: left;
}

.accordion-item {}

.accordion-header {
  background: $colorGreyLightest;
  align-items: center;
  cursor: pointer;
  display: flex;
  // height: 65px;
  height: auto;
  justify-content: space-between;
  padding: 10px;
  transition: background .3s ease-out;
    
  &:hover {
    background: $colorGreyLight;
  }

  .is-active & {
    background: $colorBlueDark;
  }

  @media screen and (min-width: $scrTablS) {
    // height: 60px;
    // padding: 20px 30px;
    height: auto;
    padding: 5px 30px;
  }
}

.accordion-headerInner {
  flex: 0 0 89%;
  text-align: left;
}

.accordion-headerTitle,
.accordion-contentTitle {
  color: $colorGrey;
  font-family: $fontText;
  font-size: $fontsizeSmall;
  font-weight: normal;
  line-height: 1;
  margin: 0;
  padding: 0;

  .is-active & {
    color: $colorWhite;
  }
  
  @media screen and (min-width: $scrTablS) {
    font-family: $fontHeading;
    font-size: $fontsizeLarge;

      &.padd-custom {
        padding-top: 8px;
        padding-bottom: 10px;
      }
  }

  .content-left {
    display: inline-block;
    position: relative;
    width: 30px;
    line-height: 1;
    vertical-align: top;

    @media screen and (min-width: $scrTablS) {
      line-height: 1.2;
    }
  }

  .content-right {
    display: inline-block;
    position: relative;
    width: 85%;
    line-height: 1;
    vertical-align: top;

    @media screen and (min-width: $scrTablS) {
      line-height: 1.2;
    }

    @media screen and (min-width: $scrDeskS) {
      width: 95%;
    }
  }
}

.accordion-itemButton {
  background: url(../img/icons/icon-plus.png) no-repeat center right;
  background-size: 20px 20px;
  cursor: pointer;
  display: flex;
  flex: 0 0 10%;
  height: 40px;
  margin-right: 0;
  transition: transform .3s ease-out;
  width: 50px;

  // IE11 fix for positioning buttons
  .ie & {
    display: inline-block;
  }

  .is-active & {
    background-image: url(../img/icons/icon-minus.png);
    // background-size: contain;
    background-size: 20px 20px;
  }

  .no-js & {
    display: none;
  }

  @media screen and (min-width: $scrTablS) {
    background-size: 32px;
    height: 50px;

    .is-active & {
      background-size: 32px;
    }
  }
}

.accordion-content {
  max-height: 5px;
  opacity: 0;
  overflow: hidden;  

  /* Slide down and fade in */
  transition: opacity .8s, max-height 1s ease-out;

  .is-active & {
    max-height: 1200px; /* approximate max height */
    opacity: 1;
    overflow: visible;
  }

  .no-js & {
    max-height: none;
    opacity: 1;
    overflow: visible;
  }

  @media screen and (min-width: $scrDeskS) {
    transition: opacity .8s, max-height .5s ease-out;

    .is-active & {
      max-height: 550px; /* approximate max height */
    }

    .no-js & {
      border-top: 0;
      position: static;
    }
  }
}

.accordion-contentInner {
  padding: 20px 15px;

  @media screen and (min-width: $scrDeskS) {
    padding: 35px 30px;
  }
}

.accordion-contentTitle {}
