/**
 * Button
 *
 *
 */


.button {
  align-items: center;
  background: $colorBlueDark;
  border-radius: 7px;
  border: 0 none;
  box-shadow: 0 0 0 !important;
  color: $colorWhite;
  display: flex;
  font-family: $fontHeavy;
  font-size: $fontsizeSmaller;
  font-weight: normal;
  height: 50px;
  justify-content: center;
  line-height: 1.3;
  text-decoration: none;
  transition: all .2s ease-out;
  white-space: normal;
  width: 100%;
  // -webkit-font-smoothing: antialiased;
  // -moz-osx-font-smoothing: grayscale;

  span {
    display: block;
    line-height: 1;
    max-width: 95%;
  }

  &:active,
  &:visited {
    background: $colorBlueDark;
    box-shadow: 0 0 0 !important;
  }

  &:hover,
  &:focus {
    background: $colorBlueDarker;
    box-shadow: 0 0 0 !important;
    text-decoration: none;
  }

  &.is-disabled {
    cursor: text !important;
    user-select: text;
  }

  @media screen and (min-width: $scrTablS) {
    font-size: $fontsize;
  }
}


/**
 * CTA
 *
 */

 .button--cta {
    background: transparent;
    border: 1px $colorGreyLighter solid;
    border-radius: 40px;
    color: $colorWhite;
    margin: 0 auto;
    height: 52px;

    &:active,
    &:visited,
    &:hover,
    &:focus {
      background: $colorGreyLighter;
      box-shadow: 0 0 0 !important;
      text-decoration: none;
    }

    &:hover,
    &:focus {
      color: $colorBlueDark;
    }

    &.width-300 {
      @media screen and (min-width: $scrTablS) {
        max-width: 300px;
      }
    }

    @media screen and (min-width: $scrTablS) {
      max-width: 260px;
    }
 }
