/**
 * Header
 *
 *
 */

.header {
  align-items: flex-end;
  display: flex;
  justify-content: space-between;
  padding: 14px 14px;

  @media screen and (min-width: $scrTablS) {
    align-items: center;
    padding: 14px 25px;    
  }
}

.header-logo {
  display: inline-block;
}

.header-logoImage {
  height: 35px;
}

.header-link {
  color: $colorBlueLight;
  display: inline-block;
  font-family: $fontHeadingSmall;
  font-size: $fontsize;
  line-height: 1.4;
}

.header-icon {
  display: inline-block;
  height: 16px;
  margin-left: 5px;
  padding: 6px;
  width: 20px;

  img {
    height: auto;
    width: 100%;
  }
}