/**
 * Hero
 *
 * Image banner at top of page
 * Two layouts: Mobile and tablet+
 *
 * One Modifier:  Landing page
 */


.hero {
  text-align: center;

  @media screen and (min-width: $scrTablS) {}
}

.hero-inner {
  background-repeat: no-repeat;
  background-position: 0 0;
  background-size: contain;
  display: flex;
  position: relative;
  height: 100%;
  width: 100%;

  @media screen and (min-width: $scrTablS) {
    background-position: right bottom;
  }
}

.hero-title {
  color: $colorWhite;
  line-height: 1.3;
  margin: auto;
  max-width: 850px;
  padding: 0;
  position: relative;
  text-shadow: 1px 1px 15px $colorBlack;

  .no-flexbox &,
  .no-flexboxlegacy & {
    margin: 15% auto;
  }
    
  @media screen and (min-width: $scrTablS) {
    font-family: $fontHeading;
    font-size: $fontsizeLarger;
  }

  @media screen and (min-width: $scrDeskL) {
    font-size: $fontsizeLargest;
  }
}
