/**
 * Main
 *
 * Typography/Framework overrides
 */


.main {
  border-bottom: 1px solid #e5e5e5;

  h1 {
    font-family: $fontHeadingSmall;
    font-size: $fontsizeLarge;
    // line-height: 1.4;
    // margin: 0 0 .6em;
    // padding: 0;

    @media screen and (min-width: $scrTablS) {
      font-family: $fontHeading;
      font-size: $fontsizeLargest;
      // line-height: 1;
    }
  }

  p {
    font-family: $fontText;
    font-size: $fontsizeSmall;
    line-height: 1.3;
    margin: 0 0 .7em;
    padding: 0;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }

  strong {
    font-family: $fontHeavy;
    font-weight: normal;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }

  a {

    &:hover {
      transition: all .2s;
    }
  
    &[target="_blank"] {
      background-image: none;
      padding: 0;
    }
  }
}
