/**
 * Section
 *
 * Main blocks of content
 */


.section {
  background: $colorWhite;
  text-align: center;

  p {
    font-size: $fontsizeSmaller;
    line-height: 1.6;
    margin-bottom: 1em;
  }

  p.small {
    color: $colorBlueDark;
  }

  @media screen and (min-width: $scrTablS) {

    p {
      font-size: $fontsizeSmall;
    }
  }
}

.section-inner {
  margin: 0 auto;
  padding: 2em 1em;

  @media screen and (min-width: $scrTablS) {
    padding: 2em;
  }

  @media screen and (min-width: $scrDeskS) {
    max-width: 1160px;
    padding: 4em 2em;
  }
}

.section-title {
  color: $colorGrey;
  font-family: $fontHeadingSmall;
  font-size: $fontsizeLarge;
  font-weight: normal;
  line-height: 1.2;
  margin: 0 0 .8em;
  padding: 0;
  transition: opacity .1s ease-out;

  &.is-hidden {
    opacity: 0;
  }

  &.width-700 {
    margin: 0 auto 20px;
    max-width: 700px;
  }

  @media screen and (min-width: $scrTablS) {
    font-size: $fontsizeLarger;
  }
}

.section-items {
  list-style: none;
  margin-left: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.section-item {
  font-family: $fontText;
  font-size: 14px;
  padding-left: 1em; 
  text-indent: -.7em;
  
  &:before {
    content: "• ";
    color: $colorBlue;
  }

  @media screen and (min-width: $scrDeskS) {
    font-size: $fontsizeSmall;
  }
}


/**
 * Accordion
 */

.section--accordion {
  
  .section-inner {
    max-width: 960px;
    padding-top: 0;
  }
}


/**
 * CTA on the hompage
 */

.section--cta {
    color: $colorWhite;
    background: $colorBlue;

    .section-title {
      color: $colorWhite;
      font-family: $fontHeading;
      font-size: $fontsizeLarger;
    }

    p {
      font-size: $fontsizeLarge;
      line-height: 1.3;
      margin: 0 auto 1.6em;
      max-width: 520px;
    }
}


/**
 * Intro
 */

.section--intro {
  
  .section-inner {
    max-width: 880px;
  }

  p.small {
    margin-left: auto;
    margin-right: auto;
    max-width: 660px;

    &.plus-20 {
      max-width: 680px;
    }
  }
}

