/**
 * Social
 *
 * List of linked icons to social sites
 */

.social {
  
  .social-items {
    display: flex;
    list-style: none;
    margin: 0 0 -10px -10px;
    padding: 0 0 0 10px;
  }

  .social-item {
    flex: 0 0 1;
    height: 30px;
    margin: 0 0 10px 10px;
    padding: 0;
    width: 30px;

    a {
      display: block;
    }
  }
}