<div class="section section--accordion">
	<div class="section-inner">
		<div class="accordion" data-js="accordion">
			<div class="accordion-items">

				<div class="accordion-item" data-js="accordionItem">
					<div class="accordion-header" data-js="accordionTrigger">
						<div class="accordion-headerInner">
							<h3 class="accordion-headerTitle">
								Q1. What is a Blended fee structure?
							</h3>
						</div>
						<div class="accordion-itemButton"></div>
					</div>
					<div class="accordion-content" data-js="accordionContent">
						<div class="accordion-contentInner">
							<p>
								A Blended fee structure is how PayPal has charged fees to date. The Blended fee structure includes two components – a set percentage plus a fixed fee on each transaction, or a flat percentage fee for PayPal Here. You pay the same rate regardless of the card type, with PayPal absorbing any fluctuations in the actual costs charged by banks. For example, you might be charged 3.4% + 20p for all transactions. You receive the money in your PayPal account as soon as your customer makes the purchase, and that money is usually available immediately for withdrawal. 
							</p>

							<p>
								<strong>The Blended fee structure may be preferred if:</strong>
							</p>

							<ul class="section-items">
								<li class="section-item">
									Immediate availability of funds on all your transactions is important
								</li>
								<li class="section-item">
									Predictable transaction costs are essential for planning
								</li>
								<li class="section-item">
									Quick and simple reconciliation of PayPal and card sales is favoured
								</li>
							</ul>
						</div>
					</div>
				</div>

				<div class="accordion-item" data-js="accordionItem">
					<div class="accordion-header" data-js="accordionTrigger">
						<div class="accordion-headerInner">
							<h3 class="accordion-headerTitle">
								Q2. What is the Interchange Plus fee structure?
							</h3>
						</div>
						<div class="accordion-itemButton"></div>
					</div>
					<div class="accordion-content" data-js="accordionContent">
						<div class="accordion-contentInner">
							<p>
								The Interchange Plus  fee structure includes three components - interchange fees (set by MasterCard, Visa and Carte Bancaire), a set percentage, plus a fixed fee on each transaction. Interchange Plus rates apply only to transactions in which your customer has paid you directly with a debit or credit card (either in person through PayPal Here, on your website, or through PayPal Virtual Terminal). Interchange fees may vary depending on the country of issuance, category and type of card used to make the payment. For example, you might be charged an interchange fee + 2.9% + 20p. PayPal doesn’t know what the interchange fee is at the time of the transaction, and only receives interchange fee information from processors. You usually receive the money in your PayPal account the next business day after the payment has been made.
							</p>
							<p>
								<strong>The Interchange Plus fee structure may be preferred if:</strong>
							</p>
							<ul class="section-items">
								<li class="section-item">
									The vast majority of your sales are from consumer card types in your country (UK, France, Italy or Spain) or within the EEA for which interchange fees are capped
								</li>
								<li class="section-item">
									Delay of one to two business days to the availability of your credit and debit card funds is acceptable
								</li>
								<li class="section-item">
									Differing settlement times between card sales and PayPal sales do not impact reconciliation
								</li>
							</ul>
						</div>
					</div>
				</div>

				<div class="accordion-item" data-js="accordionItem">
					<div class="accordion-header" data-js="accordionTrigger">
						<div class="accordion-headerInner">
							<h3 class="accordion-headerTitle">
								Q3. What are interchange fees?
							</h3>
						</div>
						<div class="accordion-itemButton"></div>
					</div>
					<div class="accordion-content" data-js="accordionContent">
						<div class="accordion-contentInner">
							<p>
								Interchange fees are the fees set by the card schemes (Visa, MasterCard and Carte Bancaire) and paid to card issuers for all transactions. These fees vary by card type, and the relative location of the card issuer and the merchant.
							</p>
						</div>
					</div>
				</div>

				<div class="accordion-item" data-js="accordionItem">
					<div class="accordion-header" data-js="accordionTrigger">
						<div class="accordion-headerInner">
							<h3 class="accordion-headerTitle">
								Q4. How much is the interchange fee?
							</h3>
						</div>
						<div class="accordion-itemButton"></div>
					</div>
					<div class="accordion-content" data-js="accordionContent">
						<div class="accordion-contentInner">
							<p>
								Interchange fees will vary depending on the type of card used and country of issuance. Interchange fees vary approximately from 0.2% to 2.0% per transaction in the UK, France and Italy, and from 0.1% to 2.0% per transaction in Spain.
							</p>
						</div>
					</div>
				</div>

				<div class="accordion-item" data-js="accordionItem">
					<div class="accordion-header" data-js="accordionTrigger">
						<div class="accordion-headerInner">
							<h3 class="accordion-headerTitle">
								Q5. What are the other fees I pay?
							</h3>
						</div>
						<div class="accordion-itemButton"></div>
					</div>
					<div class="accordion-content" data-js="accordionContent">
						<div class="accordion-contentInner">
							<p>
								The interchange fee is only part of the fees incurred when processing and accepting card transactions. In simple terms, it is the fee that merchant banks pay to process credit and debit cards, not the fee they charge merchants, which is usually higher.
							</p>
							<p>
								In addition to interchange, there are also scheme and assessment fees, levied and retained by the card schemes, as well as acquirer and processing fees collected by PayPal and our processing partners.
							</p>
						</div>
					</div>
				</div>

				<div class="accordion-item" data-js="accordionItem">
					<div class="accordion-header" data-js="accordionTrigger">
						<div class="accordion-headerInner">
							<h3 class="accordion-headerTitle">
								Q6. Why are these fees not the same for all card types and currencies?
							</h3>
						</div>
						<div class="accordion-itemButton"></div>
					</div>
					<div class="accordion-content" data-js="accordionContent">
						<div class="accordion-contentInner">
							<p>
								Interchange and other processing fees can vary across card types and regions. This means that interchange fees, as a proportion of a merchant’s total charges, may also vary depending on the profile of the merchant’s transaction volume. A Blended fee structure provides clarity for merchants, regardless of the underlying complexity of the cards that customers use, which makes it easy for merchants to plan and reconcile charges.
							</p>
						</div>
					</div>
				</div>

				<div class="accordion-item" data-js="accordionItem">
					<div class="accordion-header" data-js="accordionTrigger">
						<div class="accordion-headerInner">
							<h3 class="accordion-headerTitle">
								Q7. Will the Interchange Plus fee structure be cheaper for my business?
							</h3>
						</div>
						<div class="accordion-itemButton"></div>
					</div>
					<div class="accordion-content" data-js="accordionContent">
						<div class="accordion-contentInner">
							<p>
								Interchange is one component of the cost of processing credit and debit card transactions, and it varies greatly between card type and country of issue. Many card types are not capped, and therefore you may not see a reduction in the cost of card processing. In other cases we may see a reduction in the cost of processing for a merchant, although this will depend on your individual business and circumstances.
							</p>
						</div>
					</div>
				</div>

				<div class="accordion-item" data-js="accordionItem">
					<div class="accordion-header" data-js="accordionTrigger">
						<div class="accordion-headerInner">
							<h3 class="accordion-headerTitle">
								Q8. Does this impact my transactions that are paid with PayPal?
							</h3>
						</div>
						<div class="accordion-itemButton"></div>
					</div>
					<div class="accordion-content" data-js="accordionContent">
						<div class="accordion-contentInner">
							<p>
								No, standard PayPal transactions will not be affected by this change. The fee structure and settlement time will remain unchanged.
							</p>
						</div>
					</div>
				</div>

				<div class="accordion-item" data-js="accordionItem">
					<div class="accordion-header" data-js="accordionTrigger">
						<div class="accordion-headerInner">
							<h3 class="accordion-headerTitle">
								Q9. Which types of debit and credit cards does the IFR cover?
							</h3>
						</div>
						<div class="accordion-itemButton"></div>
					</div>
					<div class="accordion-content" data-js="accordionContent">
						<div class="accordion-contentInner">
							<p>
								The Interchange Fee Regulation covers all Visa, MasterCard and Carte Bancaire consumer card types. This includes debit, prepaid and credit cards in all 28 European Union member states plus the EEA countries Iceland, Lichtenstein and Norway.
							</p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>