<div class="section section--accordion">
	<div class="section-inner">
		<div class="accordion" data-js="accordion">
			<div class="accordion-items">

				<div class="accordion-item" data-js="accordionItem">
					<div class="accordion-header" data-js="accordionTrigger">
						<div class="accordion-headerInner">
							<h3 class="accordion-headerTitle">
								<span class="content-left">Q1. </span>
								<span class="content-right">Qu'est-ce qu'une structure tarifaire regroup&eacute;e ?</span>
							</h3>
						</div>
						<div class="accordion-itemButton"></div>
					</div>
					<div class="accordion-content" data-js="accordionContent">
						<div class="accordion-contentInner">
							<p>
								Jusqu'&agrave; pr&eacute;sent, PayPal utilisait une structure tarifaire regroup&eacute;e pour d&eacute;finir le montant des commissions. La structure tarifaire regroup&eacute;e comprend deux &eacute;l&eacute;ments : un pourcentage d&eacute;fini et une commission fixe sur chaque transaction. Vous payez les m&ecirc;mes frais quel que soit le type de carte, et nous absorbons les fluctuations &eacute;ventuelles des co&ucirc;ts r&eacute;els factur&eacute;s par les banques. Par exemple, vous pouvez &ecirc;tre d&eacute;bit&eacute; de 3,4 % + 20 p pour toutes les transactions. Vous recevez l'argent sur votre compte PayPal d&egrave;s que votre client effectue son achat et vous pouvez g&eacute;n&eacute;ralement le virer imm&eacute;diatement. 
							</p>

							<p>
								<strong>La structure tarifaire regroup&eacute;e peut sembler pr&eacute;f&eacute;rable si :</strong>
							</p>

							<ul class="section-items">
								<li class="section-item">
									Vous souhaitez que l'argent de vos transactions soit disponible imm&eacute;diatement.
								</li>
								<li class="section-item">
									Vous souhaitez pouvoir pr&eacute;voir les frais de transaction pour mieux vous organiser.
								</li>
								<li class="section-item">
									Vous souhaitez effectuer un rapprochement simple et rapide de vos ventes par PayPal et par carte.
								</li>
							</ul>
						</div>
					</div>
				</div>

				<div class="accordion-item" data-js="accordionItem">
					<div class="accordion-header" data-js="accordionTrigger">
						<div class="accordion-headerInner">
							<h3 class="accordion-headerTitle">
								<span class="content-left">Q2. </span>
								<span class="content-right">Qu'est-ce que la structure tarifaire Interchange Plus ?</span>
							</h3>
						</div>
						<div class="accordion-itemButton"></div>
					</div>
					<div class="accordion-content" data-js="accordionContent">
						<div class="accordion-contentInner">
							<p>
								La structure tarifaire Interchange Plus comprend trois &eacute;l&eacute;ments : la commission d'interchange (d&eacute;finie par MasterCard, Visa et le Groupement Cartes Bancaires), un pourcentage pr&eacute;d&eacute;fini et une commission fixe sur chaque transaction. Cette structure tarifaire s'applique uniquement aux transactions pour lesquelles le client vous paie directement par carte bancaire (en personne par PayPal Here, sur votre site, ou par PayPal e-Terminal). La commission d'interchange peut varier selon le pays d'&eacute;mission, la cat&eacute;gorie et le type de la carte utilis&eacute;e pour le paiement. Par exemple, vous pouvez &ecirc;tre d&eacute;bit&eacute; d'une commission d'interchange (variant d’environ 0.2 % et 2 %) de 2,9 % + 20 p. Nous ne connaissons pas la commission d'interchange au moment de la transaction. Elle nous est uniquement communiqu&eacute;e par la soci&eacute;t&eacute; de traitement des paiements &agrave; la fin de la journ&eacute;e. Vous recevez g&eacute;n&eacute;ralement l'argent sur votre compte PayPal le jour ouvr&eacute; suivant le jour du paiement.
							</p>
							<p>
								<strong>La structure tarifaire Interchange Plus peut sembler pr&eacute;f&eacute;rable si :</strong>
							</p>
							<ul class="section-items">
								<li class="section-item">
									La grande majorit&eacute; de vos ventes provient de paiements effectu&eacute;s par cartes nationales ou depuis l'EEE, pour lesquels les commissions d'interchange sont plafonn&eacute;es.
								</li>
								<li class="section-item">
									Un d&eacute;lai d'un &agrave; deux jours ouvr&eacute;s pour la disponibilit&eacute; de votre argent re&ccedil;u par carte bancaire est acceptable.
								</li>
								<li class="section-item">
									Des d&eacute;lais de r&egrave;glement diff&eacute;rents entre les ventes par carte et par PayPal n'ont aucun impact sur le rapprochement.
								</li>
							</ul>
						</div>
					</div>
				</div>

				<div class="accordion-item" data-js="accordionItem">
					<div class="accordion-header" data-js="accordionTrigger">
						<div class="accordion-headerInner">
							<h3 class="accordion-headerTitle">
								<span class="content-left">Q3. </span>
								<span class="content-right">Que sont les commissions d'interchange ?</span>
							</h3>
						</div>
						<div class="accordion-itemButton"></div>
					</div>
					<div class="accordion-content" data-js="accordionContent">
						<div class="accordion-contentInner">
							<p>
								Les commissions d'interchange sont les commissions d&eacute;finies par les syst&egrave;mes de cartes (Visa, MasterCard et Carte Bancaire) et vers&eacute;es aux &eacute;metteurs de cartes pour toute transaction effectu&eacute;e. Ces commissions varient selon le type de carte, et le pays de l'&eacute;metteur de la carte et du marchand.
							</p>
						</div>
					</div>
				</div>

				<div class="accordion-item" data-js="accordionItem">
					<div class="accordion-header" data-js="accordionTrigger">
						<div class="accordion-headerInner">
							<h3 class="accordion-headerTitle">
								<span class="content-left">Q4. </span>
								<span class="content-right">&Agrave; combien s'&eacute;l&egrave;vent les commissions d'interchange ?</span>
							</h3>
						</div>
						<div class="accordion-itemButton"></div>
					</div>
					<div class="accordion-content" data-js="accordionContent">
						<div class="accordion-contentInner">
							<p>
								Les commissions d'interchange varient selon le pays d'&eacute;mission et le type de la carte utilis&eacute;e pour le paiement. Elles varient d'environ 0,2 % &agrave; 2,0 % par transaction.
							</p>
						</div>
					</div>
				</div>

				<div class="accordion-item" data-js="accordionItem">
					<div class="accordion-header" data-js="accordionTrigger">
						<div class="accordion-headerInner">
							<h3 class="accordion-headerTitle">
								<span class="content-left">Q5. </span>
								<span class="content-right">Quels autres frais sont inclus dans les commissions que dois-je payer ?</span>
							</h3>
						</div>
						<div class="accordion-itemButton"></div>
					</div>
					<div class="accordion-content" data-js="accordionContent">
						<div class="accordion-contentInner">
							<p>
								Les commissions d'interchange sont uniquement int&eacute;gr&eacute;es aux frais imput&eacute;s lors du traitement et de l'acceptation de transactions par carte. Cela signifie que ce sont des frais que doivent payer les banques des marchands pour assurer le traitement des cartes bancaires.
							</p>
							<p>
								En plus des commissions d'interchange, il y a les frais additionnels relatifs au r&eacute;seau Visa et Mastercard, ainsi que des frais de traitement et d’infrastructure.
							</p>
						</div>
					</div>
				</div>

				<div class="accordion-item" data-js="accordionItem">
					<div class="accordion-header" data-js="accordionTrigger">
						<div class="accordion-headerInner">
							<h3 class="accordion-headerTitle">
								<span class="content-left">Q6. </span>
								<span class="content-right">Pourquoi ces commissions varient-elles selon les types de cartes et les devises ?</span>
							</h3>
						</div>
						<div class="accordion-itemButton"></div>
					</div>
					<div class="accordion-content" data-js="accordionContent">
						<div class="accordion-contentInner">
							<p>
								Les commissions d'interchange et les autres frais de traitement peuvent varier selon les types de cartes et les pays. Cela signifie que les commissions d'interchange, en tant que partie des frais totaux d'un marchand, peuvent &eacute;galement varier selon le profil du volume de transactions du marchand. Une structure tarifaire regroup&eacute;e permet aux marchands d'y voir plus clair, quelle que soit la complexit&eacute; sous-jacente des cartes que les clients utilisent : ils peuvent facilement pr&eacute;voir et rapprocher les frais pr&eacute;lev&eacute;s.
							</p>
						</div>
					</div>
				</div>

				<div class="accordion-item" data-js="accordionItem">
					<div class="accordion-header" data-js="accordionTrigger">
						<div class="accordion-headerInner">
							<h3 class="accordion-headerTitle">
								<span class="content-left">Q7. </span>
								<span class="content-right">La structure tarifaire Interchange Plus sera-t-elle plus avantageuse pour ma soci&eacute;t&eacute; ?</span>
							</h3>
						</div>
						<div class="accordion-itemButton"></div>
					</div>
					<div class="accordion-content" data-js="accordionContent">
						<div class="accordion-contentInner">
							<p>
								Les commissions d'interchange sont un &eacute;l&eacute;ment du co&ucirc;t de traitement des transactions par carte bancaire. Elles varient de fa&ccedil;on importante selon le type de carte et le pays d'&eacute;mission. De nombreux types de cartes bancaires ne sont pas plafonn&eacute;s et les co&ucirc;ts de traitement des cartes bancaires peuvent ne pas diminuer. Dans d'autres cas, les co&ucirc;ts de traitement peuvent diminuer pour un marchand, bien que cela d&eacute;pende de son activit&eacute; et des circonstances.
							</p>
						</div>
					</div>
				</div>

				<div class="accordion-item" data-js="accordionItem">
					<div class="accordion-header" data-js="accordionTrigger">
						<div class="accordion-headerInner">
							<h3 class="accordion-headerTitle">
								<span class="content-left">Q8. </span>
								<span class="content-right">Cela a-t-il des cons&eacute;quences sur mes transactions pay&eacute;es avec PayPal ?</span>
							</h3>
						</div>
						<div class="accordion-itemButton"></div>
					</div>
					<div class="accordion-content" data-js="accordionContent">
						<div class="accordion-contentInner">
							<p>
								Non, les transactions standard PayPal ne seront pas concern&eacute;es par ces modifications. La structure tarifaire et les d&eacute;lais de r&egrave;glement ne seront pas modifi&eacute;s.
							</p>
						</div>
					</div>
				</div>

				<div class="accordion-item" data-js="accordionItem">
					<div class="accordion-header" data-js="accordionTrigger">
						<div class="accordion-headerInner">
							<h3 class="accordion-headerTitle padd-custom">
								<span class="content-left">Q9. </span>
								<span class="content-right">Quels types de cartes bancaires sont couverts par le r&egrave;glement relatif aux commissions d'interchange ?</span>
							</h3>
						</div>
						<div class="accordion-itemButton"></div>
					</div>
					<div class="accordion-content" data-js="accordionContent">
						<div class="accordion-contentInner">
							<p>
								Le r&egrave;glement relatif aux commissions d'interchange couvre tous les types de cartes Visa, MasterCard et le Groupement Cartes Bancaires. Cela comprend les cartes bancaires et pr&eacute;pay&eacute;es dans les 28 &Eacute;tats membres de l'Union europ&eacute;enne et les pays de l'EEE (Islande, Liechtenstein et Norv&egrave;ge).
							</p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>