<div class="section section--cta">
	<div class="section-inner">
		<h2 class="section-title width-700">
			Connectez-vous &agrave; votre compte pour choisir la structure tarifaire de votre choix avant le 9 juin 2016
		</h2>
		<a href="#" class="button button--cta width-300" title="Log in">
			<span>Acc&eacute;der &agrave; mon compte PayPal</span>
		</a>
	</div>
</div>