<header class="header">
    <a href="#" title="PayPal" class="header-logo">
        <img src="img/logo.png" alt="PayPal Logo" class="header-logoImage">
    </a>
    <a href="#" title="Contact us" class="header-link">
        Contact us <span class="header-icon"><img src="img/icons/icon-triangle.png" alt="arrow"></span>
    </a>
</header>