<div class="hero">
    <div class="FlexEmbed">
        <div class="FlexEmbed-ratio FlexEmbed-ratio--hero"></div>
        <div class="FlexEmbed-content">
            <div class="hero-inner" style="background-image: url(img/hero.jpg);">
                <h1 class="hero-title">
                    Questions/r&eacute;ponses concernant PayPal et le r&egrave;glement relatif aux commissions d'interchange
                </h1>
            </div>
        </div>
    </div>
</div>