<div class="section section--intro">
	<div class="section-inner">
		<h2 class="section-title">
			What is happening?
		</h2>
		<p>
			The European Commission is making changes to card processing practices in order to create a common market across the EU and European Economic Area (EEA) states. One requirement of the new Interchange Fee Regulation (IFR) is that PayPal and other payment providers must offer an unblended fee structure. This is why we are introducing Interchange Plus, a different fee structure for receiving credit and debit card payments. Previously, PayPal offered a blended fee structure.
		</p>
		<p class="small">
			<strong>Merchants and sellers will be switched to the Interchange Plus fee structure on 9 June 2016</strong>, unless they notify PayPal that they wish to remain on the Blended fee structure.
		</p>
		<p class="small">
			If a merchant or seller does not wish to be switched to the Interchange Plus fee structure, they must <strong>notify PayPal ahead of 9 June 2016.</strong>
		</p> 
	</div>
</div>