<div class="section section--intro">
	<div class="section-inner">
		<h2 class="section-title">
			Que se passe-t-il?
		</h2>
		<p>
			La Commission europ&eacute;enne modifie actuellement les pratiques de traitement des cartes bancaires pour cr&eacute;er un march&eacute; commun &agrave; travers les &Eacute;tats de l'Espace &eacute;conomique europ&eacute;en (EEE) et de l'Union europ&eacute;enne. Le nouveau r&egrave;glement relatif aux commissions d'interchange exige, entre autres, que PayPal et les autres fournisseurs de services de paiement proposent une structure tarifaire diff&eacute;renci&eacute;e. Pour cette raison, nous proposons Interchange Plus, une nouvelle structure tarifaire permettant de recevoir des paiements par carte bancaire. Auparavant, PayPal ne proposait qu'une structure tarifaire regroup&eacute;e.
		</p>
		<p class="small plus-20">
			Si vous souhaitez le faire, vous aurez la possibilit&eacute;, une fois connect&eacute; &agrave; votre compte de choisir la nouvelle structure tarifaire. Dans le cas o&ugrave; vous optez pour celle-ci, elle prendra effet d&egrave;s le 9 juin. Si ne faites pas aucun choix, votre structure tarifaire actuelle continuera &agrave; s'appliquer.
		</p>
	</div>
</div>