<h1 class="h1">Choisissez votre structure tarifaire avant le 9 juin</h1>

La Commission europ&eacute;enne modifie actuellement les pratiques de traitement des cartes bancaires pour cr&eacute;er un march&eacute; commun  pour les paiements Carte bancaire, &agrave; travers les &Eacute;tats de l'Espace &eacute;conomique europ&eacute;en (EEE) et de l'Union europ&eacute;enne. Le nouveau r&egrave;glement relatif aux commissions d'interchange exige, entre autres, que PayPal et les autres fournisseurs de services de paiement proposent une structure tarifaire diff&eacute;renci&eacute;e. C’est pour cette raison que nous proposons Interchange Plus, une nouvelle structure tarifaire associ&eacute;e &agrave; la r&eacute;ception de paiements par carte bancaire.
<br/>
<br/>
Pour votre soci&eacute;t&eacute;, cela implique de faire un choix en ce qui concerne votre compte PayPal Int&eacute;gral &Eacute;volution et PayPal e-Terminal/PayPal Int&eacute;gral &Eacute;volution/PayPal e-Terminal.
<br/>
<br/>
Vous pouvez conserver votre actuelle structure tarifaire (dite regroup&eacute;e), ou opter pour la structure tarifaire Interchange Plus. Vous aurez la possibilit&eacute; de choisir votre nouvelle structure tarifaire depuis votre compte PayPal, sachant que si vous choisissez la structure tarifaire Interchange Plus, elle prendra effet d&egrave;s le 9 juin. Pour ce faire, <a href="#" style="color: #009cde; text-decoration: none;">Connectez-vous</a> &agrave; votre compte et s&eacute;lectionnez  la structure tarifaire de votre choix.
<br/><br/>
<a href="#" style="margin:0;text-decoration:none;display:inline-block;">
	<img src="img/button-login-fr.jpg" alt="Acc&eacute;der &agrave; mon compte PayPal" />
</a>
<br/>
<br/>
<h2 class="h2">Structures tarifaires des marchands</h2>

Vous b&eacute;n&eacute;ficiez actuellement de la structure tarifaire regroup&eacute;e, qui comprend deux &eacute;l&eacute;ments : un pourcentage pr&eacute;d&eacute;fini et une commission fixe sur chaque transaction.
<br/>
<br/>
Vous payez les m&ecirc;mes frais quel que soit le type de carte, puisque nous prenons en charge les fluctuations &eacute;ventuelles des frais de transaction factur&eacute;s par les banques<sup style="line-height:1; vertical-align:baseline;_vertical-align: bottom;position: relative;bottom: 1ex;font-size:11px !important;">1</sup>. Vous recevez l'argent sur votre compte PayPal d&egrave;s que votre client effectue son achat et vous pouvez g&eacute;n&eacute;ralement le virer imm&eacute;diatement. La structure tarifaire regroup&eacute;e peut vous sembler pr&eacute;f&eacute;rable si :
<br/>
<br/>
<table>
	<tr>
		<td valign="top">
			&nbsp;&nbsp;&nbsp;&nbsp;<span style="color:#009cde;">&bull;</span>&nbsp;
		</td>
		<td valign="top" style="color:#676767; font-family:'Calibri Regular', 'Calibri', Arial; font-size:18px; line-height:130%; text-align:left;">
			Vous souhaitez que l'argent de vos transactions soit disponible imm&eacute;diatement.
		</td>
	</tr>
	<tr>
		<td valign="top">
			&nbsp;&nbsp;&nbsp;&nbsp;<span style="color:#009cde;">&bull;</span>&nbsp;
		</td>
		<td valign="top" style="color:#676767; font-family:'Calibri Regular', 'Calibri', Arial; font-size:18px; line-height:130%; text-align:left;">
			Vous souhaitez pouvoir pr&eacute;voir les frais de transaction pour mieux vous organiser.
		</td>
	</tr>
	<tr>
		<td valign="top">
			&nbsp;&nbsp;&nbsp;&nbsp;<span style="color:#009cde;">&bull;</span>&nbsp;
		</td>
		<td valign="top" style="color:#676767; font-family:'Calibri Regular', 'Calibri', Arial; font-size:18px; line-height:130%; text-align:left;">
			Vous souhaitez effectuer un rapprochement simple et rapide de vos ventes par PayPal et par carte.
		</td>
	</tr>
</table>
<br/>
Avec la tarification Interchange Plus, votre structure tarifaire comprend trois &eacute;l&eacute;ments : la commission d'interchange (d&eacute;finie par MasterCard, Visa et le Groupement Cartes Bancaires), un pourcentage pr&eacute;d&eacute;fini et une commission fixe sur chaque transaction. Cette tarification s'applique uniquement aux transactions pour lesquelles le client vous paie directement par carte bancaire<sup style="line-height:1; vertical-align:baseline;_vertical-align: bottom;position: relative;bottom: 1ex;font-size:11px !important;">2</sup>. La commission d'interchange peut varier selon le pays d'&eacute;mission, la cat&eacute;gorie et le type de la carte utilis&eacute;e pour le paiement<sup style="line-height:1; vertical-align:baseline;_vertical-align: bottom;position: relative;bottom: 1ex;font-size:11px !important;">3</sup>. Vous recevez g&eacute;n&eacute;ralement l'argent sur votre compte PayPal le prochain jour ouvr&eacute; suivant le jour du paiement. La tarification Interchange Plus peut sembler pr&eacute;f&eacute;rable si :
<br/>
<br/>
<table>
	<tr>
		<td valign="top">
			&nbsp;&nbsp;&nbsp;&nbsp;<span style="color:#009cde;">&bull;</span>&nbsp;
		</td>
		<td valign="top" style="color:#676767; font-family:'Calibri Regular', 'Calibri', Arial; font-size:18px; line-height:130%; text-align:left;">
			La majeure partie de vos ventes provient de paiements effectu&eacute;s par cartes nationales ou depuis l'EEE, pour lesquels les commissions d'interchange sont plafonn&eacute;es.
		</td>
	</tr>
	<tr>
		<td valign="top">
			&nbsp;&nbsp;&nbsp;&nbsp;<span style="color:#009cde;">&bull;</span>&nbsp;
		</td>
		<td valign="top" style="color:#676767; font-family:'Calibri Regular', 'Calibri', Arial; font-size:18px; line-height:130%; text-align:left;">
			Un d&eacute;lai d'un &agrave; deux jours ouvr&eacute;s pour la disponibilit&eacute; de votre argent re&ccedil;u par carte bancaire est acceptable.
		</td>
	</tr>
	<tr>
		<td valign="top">
			&nbsp;&nbsp;&nbsp;&nbsp;<span style="color:#009cde;">&bull;</span>&nbsp;
		</td>
		<td valign="top" style="color:#676767; font-family:'Calibri Regular', 'Calibri', Arial; font-size:18px; line-height:130%; text-align:left;">
			Des d&eacute;lais de r&egrave;glement diff&eacute;rents entre les ventes par carte et par PayPal n'ont aucun impact sur le rapprochement.
		</td>
	</tr>
</table>
<br/>
